/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*collection of shared styles*/
/* line 28, ../sass/main.scss */
h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

/* line 34, ../sass/main.scss */
h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

/* line 40, ../sass/main.scss */
h4 {
  font-size: 2rem;
  font-weight: normal;
}

/* line 45, ../sass/main.scss */
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 52, ../sass/main.scss */
button {
  font-size: 1.6rem;
  cursor: pointer;
}

/* line 58, ../sass/main.scss */
.hyperlink {
  font-size: 1.6rem;
  color: #3d87d2;
}
/* line 63, ../sass/main.scss */
.hyperlink:link, .hyperlink :hover, .hyperlink :visited {
  color: #3d87d2;
}

/* end of collection of shared styles*/
/* line 71, ../sass/main.scss */
html, body {
  height: 100%;
  font-size: 10px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  line-height: 1.2;
}

/* line 82, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
}

/* line 86, ../sass/main.scss */
header {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 1.8rem;
  background-color: #F4F4F4;
  color: #000000;
}
/* line 102, ../sass/main.scss */
header nav {
  display: inline-block;
  /* for spare the right place for search*/
  margin-left: 42px;
  /* for the left margin to the window*/
  height: 100%;
}
/* line 108, ../sass/main.scss */
header nav ul {
  height: 100%;
}
/* line 112, ../sass/main.scss */
header nav li {
  display: inline;
  height: 100%;
  padding: 0.5rem 0.8rem;
  margin-right: 4.8rem;
  text-transform: uppercase;
  line-height: 84px;
}
/* line 121, ../sass/main.scss */
header nav li.current {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* line 136, ../sass/main.scss */
.head-slide {
  background-color: #ffffff;
  padding-top: 200px;
  padding-bottom: 100px;
}
/* line 144, ../sass/main.scss */
.head-slide .row button {
  margin-left: 15px;
  padding: 10px 18px;
  color: #ffffff;
  background-color: #3D87D2;
  border-style: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 156, ../sass/main.scss */
.head-slide .row h1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* line 165, ../sass/main.scss */
.text-align-center {
  text-align: center;
}

/* line 172, ../sass/main.scss */
.index-intro {
  text-align: center;
}
/* line 174, ../sass/main.scss */
.index-intro img {
  width: 100%;
}
/* line 179, ../sass/main.scss */
.index-intro .col-md-4 {
  padding: 0 30px;
}
/* line 184, ../sass/main.scss */
.index-intro h2, .index-intro h4 {
  margin: 30px 0 20px;
}
/* line 191, ../sass/main.scss */
.index-intro .what-is-recipe p {
  margin-bottom: 50px;
}
/* line 199, ../sass/main.scss */
.index-intro h4 + p {
  text-align: left;
  margin-bottom: 20px;
}
/* line 204, ../sass/main.scss */
.index-intro p + a {
  display: inline-block;
}

/* line 210, ../sass/main.scss */
.section-list {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-color: #666666;
}
/* line 225, ../sass/main.scss */
.section-list h1 {
  font-size: 3.6rem;
  text-align: left;
  text-transform: uppercase;
}
/* line 232, ../sass/main.scss */
.section-list .card {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 20px;
}
/* line 245, ../sass/main.scss */
.section-list .card:nth-of-type(3n) {
  margin-right: 0;
}
/* line 250, ../sass/main.scss */
.section-list .card .bg-image {
  position: relative;
  width: 100%;
}
/* line 260, ../sass/main.scss */
.section-list .card .bg-image img {
  width: 100%;
  height: 225px;
  background-color: #999999;
}
/* line 272, ../sass/main.scss */
.section-list .card p {
  color: #686868;
}
/* line 279, ../sass/main.scss */
.section-list .card a {
  color: #989898;
}
/* line 286, ../sass/main.scss */
.section-list .ratings {
  display: inline-block;
  margin: 15px 0;
  vertical-align: middle;
}
/* line 293, ../sass/main.scss */
.section-list .label-video {
  display: inline-block;
  margin-left: 8px;
  background-color: #999999;
  font-size: 1.4rem;
  padding: 3px 8px;
  vertical-align: middle;
  border-radius: 8px;
  color: #ffffff;
}
/* line 305, ../sass/main.scss */
.section-list h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
}

/* line 318, ../sass/main.scss */
.section-method h2 {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  top: 50%;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

/* line 338, ../sass/main.scss */
i {
  display: inline-block;
  vertical-align: middle;
}
/* line 343, ../sass/main.scss */
i.star {
  width: 23px;
  height: 19px;
}
/* line 348, ../sass/main.scss */
i.solid {
  background-image: url('/images/Star-solid.png?1467834586');
  background-size: 100%;
}
/* line 354, ../sass/main.scss */
i.hollow {
  background-image: url('/images/Star-hollow.png?1467834598');
  background-size: 100%;
}

/* below for version 3 */
/* line 365, ../sass/main.scss */
.section-list .right {
  float: right;
  margin-left: 38px;
  width: 500px;
  height: 360px;
  background-color: grey;
}
/* line 375, ../sass/main.scss */
.section-list p {
  line-height: 1.5;
}
/* line 382, ../sass/main.scss */
.section-list button {
  margin-top: 26px;
  padding: 12px 16px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4a4a4a;
  border-style: none;
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
}

/* line 18, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 401, ../sass/main.scss */
.section-methods-1 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #dddddd;
}

/* line 410, ../sass/main.scss */
.section-lessons div.title {
  margin-top: 1.4rem;
}

/* search part starts*/
/* line 419, ../sass/main.scss */
form.search {
  display: inline-block;
  float: right;
  margin-right: 42px;
  position: relative;
  margin-top: 19px;
}
/* line 427, ../sass/main.scss */
form.search input[type=search] {
  padding: 0 20px;
  width: 300px;
  height: 4.6rem;
  font-size: 1.8rem;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
}
/* line 440, ../sass/main.scss */
form.search label i {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
}

/*search part ends*/
/* recipes style start  */
/* line 456, ../sass/main.scss */
.methods-wrapper {
  margin: 84px auto;
  padding-top: 42px;
  width: 1130px;
  line-height: 1.5;
}
/* line 462, ../sass/main.scss */
.methods-wrapper h1 {
  font-size: 3.4rem;
  font-weight: bold;
}
/* line 468, ../sass/main.scss */
.methods-wrapper h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
/* line 474, ../sass/main.scss */
.methods-wrapper p {
  font-size: 2rem;
}

/* line 484, ../sass/main.scss */
.card-detail-wrapper .heading {
  position: fixed;
  top: 84px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #999999;
  z-index: 9;
}
/* line 497, ../sass/main.scss */
.card-detail-wrapper .lower-content {
  position: relative;
  margin-top: 230px;
}
/* line 508, ../sass/main.scss */
.card-detail-wrapper .lower-content .left-sidebar li {
  position: relative;
  cursor: pointer;
}
/* line 513, ../sass/main.scss */
.card-detail-wrapper .lower-content .left-sidebar li:hover:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  top: 0;
  bottom: 0;
  margin-left: -8px;
  background-color: #333333;
}
/* line 532, ../sass/main.scss */
.card-detail-wrapper .lower-content .right-content h2 {
  font-size: 2rem;
}
/* line 536, ../sass/main.scss */
.card-detail-wrapper .lower-content .right-content div + div {
  margin-top: 26px;
}

/* recipes style end  */
/*for left sidebar and right content*/
/* line 552, ../sass/main.scss */
.left-sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  padding-right: 20px;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* line 563, ../sass/main.scss */
.right-content {
  margin-left: 200px;
  padding-left: 20px;
  line-height: 1.5;
}

/* line 573, ../sass/main.scss */
.explore-wrapper.lower-content {
  position: relative;
  margin-top: 100px;
}
/* line 581, ../sass/main.scss */
.explore-wrapper .card:nth-of-type(3n+1) {
  clear: both;
}
/* line 586, ../sass/main.scss */
.explore-wrapper .explore-sort {
  display: inline-block;
}
/* line 591, ../sass/main.scss */
.explore-wrapper .my-pager {
  float: right;
  margin-bottom: 100px;
}
/* line 600, ../sass/main.scss */
.explore-wrapper ul h3 {
  font-weight: bold;
}
/* line 605, ../sass/main.scss */
.explore-wrapper ul li {
  cursor: pointer;
  text-transform: capitalize;
}
/* line 609, ../sass/main.scss */
.explore-wrapper ul li:hover {
  color: #666666;
}
/* line 614, ../sass/main.scss */
.explore-wrapper ul li.current {
  color: #ffffff;
  background-color: #333;
  border-radius: 4px;
}

/*for left sidebar and right content ended*/
/*search page start */
/* line 628, ../sass/main.scss */
.search-result-wrapper {
  margin: 84px auto;
  padding-top: 42px;
}
/* line 636, ../sass/main.scss */
.search-result-wrapper h3 {
  padding: 20px 8px;
  font-size: 2rem;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* line 648, ../sass/main.scss */
.my-pager li {
  display: inline;
  margin-right: 6px;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 1.6rem;
  border-style: solid;
  border-width: 1px;
}

/* line 660, ../sass/main.scss */
strong {
  font-weight: bold;
}

/* line 665, ../sass/main.scss */
.search-result {
  margin-bottom: 20px;
}

/* line 670, ../sass/main.scss */
.search-categories, .explore-categories {
  display: inline-block;
  padding: 20px 8px;
}
/* line 675, ../sass/main.scss */
.search-categories li, .explore-categories li {
  display: inline-block;
  padding: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 682, ../sass/main.scss */
.search-categories li.current, .explore-categories li.current {
  color: #ffffff;
  background-color: #333;
  border-radius: 4px;
}
/* line 689, ../sass/main.scss */
.search-categories li:hover, .explore-categories li:hover {
  color: #666666;
}
/* line 700, ../sass/main.scss */
.search-categories li + li, .explore-categories li + li {
  margin-left: 10px;
}

/* line 707, ../sass/main.scss */
.search-sort {
  display: inline-block;
  margin-left: 16px;
  font-size: 1.8rem;
}

/*search page end*/
/* line 718, ../sass/main.scss */
.collection-wrapper .card:nth-of-type(4n+1) {
  clear: both;
}

/* line 732, ../sass/main.scss */
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  padding: 6px 8px;
  font-size: 1.6rem;
}
/* line 743, ../sass/main.scss */
form select::-ms-expand {
  display: none;
}
