/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*collection of shared styles*/
/* line 24, ../sass/main.scss */
h1 {
  font-size: 3.6rem;
  font-weight: bold;
}

/* line 30, ../sass/main.scss */
h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

/* line 36, ../sass/main.scss */
p {
  font-size: 2rem;
}

/* line 42, ../sass/main.scss */
button {
  cursor: pointer;
}

/* end of collection of shared styles*/
/* line 50, ../sass/main.scss */
html, body {
  height: 100%;
  font-size: 10px;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  line-height: 1.2;
}

/* line 61, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 66, ../sass/main.scss */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  z-index: 99;
  font-size: 2.7rem;
  background-color: #000000;
  color: #ffffff;
}
/* line 81, ../sass/main.scss */
header nav {
  display: inline-block;
  /* for spare the right place for search*/
  margin-left: 6.6rem;
  /* for the left margin to the window*/
}
/* line 87, ../sass/main.scss */
header nav li {
  display: inline;
  padding: 0.5rem 0.8rem;
  margin-right: 4rem;
  text-transform: uppercase;
}
/* line 94, ../sass/main.scss */
header nav li.current {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* line 106, ../sass/main.scss */
.head-slide {
  height: 672px;
  background-color: #D8D8D8;
}

/* line 112, ../sass/main.scss */
.section-list {
  width: 1130px;
  margin: 0 auto;
  padding: 48px 35px;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-color: #666666;
}
/* line 123, ../sass/main.scss */
.section-list h1 {
  font-size: 3.6rem;
  text-align: left;
  text-transform: uppercase;
}
/* line 130, ../sass/main.scss */
.section-list .card {
  float: left;
  margin-top: 3.4rem;
  margin-left: 70px;
  width: 330px;
  font-size: 2rem;
  text-align: left;
}
/* line 139, ../sass/main.scss */
.section-list .card:first-of-type {
  margin-left: 0;
}
/* line 144, ../sass/main.scss */
.section-list .card .bg-image {
  position: relative;
  width: 100%;
}
/* line 154, ../sass/main.scss */
.section-list .card .bg-image img {
  width: 100%;
  height: 225px;
  background-color: #999999;
}
/* line 166, ../sass/main.scss */
.section-list .card p {
  color: #686868;
  margin-bottom: 12px;
}
/* line 172, ../sass/main.scss */
.section-list .card a {
  color: #989898;
}
/* line 179, ../sass/main.scss */
.section-list .ratings {
  display: inline-block;
  margin: 15px 0;
  vertical-align: middle;
}
/* line 186, ../sass/main.scss */
.section-list .label-video {
  display: inline-block;
  margin-left: 8px;
  background-color: #999999;
  font-size: 1.4rem;
  padding: 3px 8px;
  vertical-align: middle;
  border-radius: 8px;
  color: #ffffff;
}
/* line 198, ../sass/main.scss */
.section-list h2 {
  display: inline-block;
  font-size: 2.7rem;
  font-weight: bold;
  vertical-align: middle;
}

/* line 211, ../sass/main.scss */
.section-method h2 {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  top: 50%;
  margin-top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

/* line 231, ../sass/main.scss */
i {
  display: inline-block;
  vertical-align: middle;
}
/* line 236, ../sass/main.scss */
i.star {
  width: 23px;
  height: 19px;
}
/* line 241, ../sass/main.scss */
i.solid {
  background-image: url('/images/Star-solid.png?1467834586');
  background-size: 100%;
}
/* line 247, ../sass/main.scss */
i.hollow {
  background-image: url('/images/Star-hollow.png?1467834598');
  background-size: 100%;
}

/* below for version 3 */
/* line 258, ../sass/main.scss */
.section-list .right {
  float: right;
  margin-left: 38px;
  width: 500px;
  height: 360px;
  background-color: grey;
}
/* line 268, ../sass/main.scss */
.section-list p {
  font-size: 2.4rem;
  margin-top: 3.4rem;
  line-height: 1.5;
}
/* line 275, ../sass/main.scss */
.section-list button {
  margin-top: 26px;
  padding: 12px 16px;
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #666666;
  background-color: transparent;
  border-style: solid;
}

/* line 14, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 292, ../sass/main.scss */
.section-methods-1 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #dddddd;
}

/* line 301, ../sass/main.scss */
.section-lessons div.title {
  margin-top: 1.4rem;
}

/* search part starts*/
/* line 310, ../sass/main.scss */
form.search {
  display: inline-block;
  float: right;
  margin-right: 6.6rem;
}

/*search part ends*/
/* recipes style start  */
/* line 321, ../sass/main.scss */
.methods-wrapper {
  margin: 84px auto;
  padding-top: 42px;
  width: 1130px;
  line-height: 1.5;
}
/* line 327, ../sass/main.scss */
.methods-wrapper h1 {
  font-size: 3.4rem;
  font-weight: bold;
}
/* line 333, ../sass/main.scss */
.methods-wrapper h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
/* line 339, ../sass/main.scss */
.methods-wrapper p {
  font-size: 2rem;
}

/* recipes style end  */
/*search page start */
/* line 355, ../sass/main.scss */
.search-result-wrapper {
  margin: 84px auto;
  padding-top: 42px;
  width: 1130px;
}

/* line 362, ../sass/main.scss */
strong {
  font-weight: bold;
}

/* line 367, ../sass/main.scss */
.search-result {
  margin-bottom: 20px;
}

/* line 374, ../sass/main.scss */
.search-categories li {
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 379, ../sass/main.scss */
.search-categories li:hover {
  color: #666666;
}

/*search page end*/
