/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*collection of shared styles*/
/* line 28, ../sass/main.scss */
h1 {
  font-size: 3.6rem;
  font-weight: bold;
}

/* line 34, ../sass/main.scss */
h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

/* line 40, ../sass/main.scss */
p {
  font-size: 1.8rem;
}

/* line 46, ../sass/main.scss */
button {
  cursor: pointer;
}

/* end of collection of shared styles*/
/* line 54, ../sass/main.scss */
html, body {
  height: 100%;
  font-size: 10px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  line-height: 1.2;
}

/* line 65, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 70, ../sass/main.scss */
header {
  position: fixed;
  width: 100%;
  height: 84px;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 1.8rem;
  background-color: #ffffff;
  color: #000000;
}
/* line 86, ../sass/main.scss */
header nav {
  display: inline-block;
  /* for spare the right place for search*/
  margin-left: 42px;
  /* for the left margin to the window*/
  height: 100%;
}
/* line 92, ../sass/main.scss */
header nav ul {
  height: 100%;
}
/* line 96, ../sass/main.scss */
header nav li {
  display: inline;
  height: 100%;
  padding: 0.5rem 0.8rem;
  margin-right: 4.8rem;
  text-transform: uppercase;
  line-height: 84px;
}
/* line 105, ../sass/main.scss */
header nav li.current {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* line 120, ../sass/main.scss */
.head-slide {
  height: 672px;
  background-color: #D8D8D8;
}

/* line 126, ../sass/main.scss */
.section-list {
  padding: 100px 0;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-color: #666666;
}
/* line 140, ../sass/main.scss */
.section-list h1 {
  font-size: 3.6rem;
  text-align: left;
  text-transform: uppercase;
}
/* line 147, ../sass/main.scss */
.section-list .card {
  font-size: 1.8rem;
  text-align: left;
}
/* line 156, ../sass/main.scss */
.section-list .card:nth-of-type(3n) {
  margin-right: 0;
}
/* line 161, ../sass/main.scss */
.section-list .card .bg-image {
  position: relative;
  width: 100%;
}
/* line 171, ../sass/main.scss */
.section-list .card .bg-image img {
  width: 100%;
  height: 225px;
  background-color: #999999;
}
/* line 183, ../sass/main.scss */
.section-list .card p {
  color: #686868;
  margin-bottom: 12px;
}
/* line 189, ../sass/main.scss */
.section-list .card a {
  color: #989898;
}
/* line 196, ../sass/main.scss */
.section-list .ratings {
  display: inline-block;
  margin: 15px 0;
  vertical-align: middle;
}
/* line 203, ../sass/main.scss */
.section-list .label-video {
  display: inline-block;
  margin-left: 8px;
  background-color: #999999;
  font-size: 1.4rem;
  padding: 3px 8px;
  vertical-align: middle;
  border-radius: 8px;
  color: #ffffff;
}
/* line 215, ../sass/main.scss */
.section-list h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
}

/* line 228, ../sass/main.scss */
.section-method h2 {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  top: 50%;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

/* line 248, ../sass/main.scss */
i {
  display: inline-block;
  vertical-align: middle;
}
/* line 253, ../sass/main.scss */
i.star {
  width: 23px;
  height: 19px;
}
/* line 258, ../sass/main.scss */
i.solid {
  background-image: url('/images/Star-solid.png?1467834586');
  background-size: 100%;
}
/* line 264, ../sass/main.scss */
i.hollow {
  background-image: url('/images/Star-hollow.png?1467834598');
  background-size: 100%;
}

/* below for version 3 */
/* line 275, ../sass/main.scss */
.section-list .right {
  float: right;
  margin-left: 38px;
  width: 500px;
  height: 360px;
  background-color: grey;
}
/* line 285, ../sass/main.scss */
.section-list p {
  margin-top: 3.4rem;
  line-height: 1.5;
}
/* line 292, ../sass/main.scss */
.section-list button {
  margin-top: 26px;
  padding: 12px 16px;
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #666666;
  background-color: transparent;
  border-style: solid;
}

/* line 18, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 309, ../sass/main.scss */
.section-methods-1 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #dddddd;
}

/* line 318, ../sass/main.scss */
.section-lessons div.title {
  margin-top: 1.4rem;
}

/* search part starts*/
/* line 327, ../sass/main.scss */
form.search {
  display: inline-block;
  float: right;
  margin-right: 42px;
  position: relative;
  margin-top: 19px;
}
/* line 335, ../sass/main.scss */
form.search input[type=search] {
  padding: 0 20px;
  width: 464px;
  height: 4.6rem;
  font-size: 1.8rem;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
}
/* line 348, ../sass/main.scss */
form.search label i {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
}

/*search part ends*/
/* recipes style start  */
/* line 364, ../sass/main.scss */
.methods-wrapper {
  margin: 84px auto;
  padding-top: 42px;
  width: 1130px;
  line-height: 1.5;
}
/* line 370, ../sass/main.scss */
.methods-wrapper h1 {
  font-size: 3.4rem;
  font-weight: bold;
}
/* line 376, ../sass/main.scss */
.methods-wrapper h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
/* line 382, ../sass/main.scss */
.methods-wrapper p {
  font-size: 2rem;
}

/* recipes style end  */
/*search page start */
/* line 398, ../sass/main.scss */
.search-result-wrapper {
  margin: 84px auto;
  padding-top: 42px;
  width: 1130px;
}

/* line 405, ../sass/main.scss */
strong {
  font-weight: bold;
}

/* line 410, ../sass/main.scss */
.search-result {
  margin-bottom: 20px;
}

/* line 417, ../sass/main.scss */
.search-categories li {
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 422, ../sass/main.scss */
.search-categories li:hover {
  color: #666666;
}

/*search page end*/
