/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*collection of shared styles*/
/* line 28, ../sass/main.scss */
h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

/* line 34, ../sass/main.scss */
h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

/* line 40, ../sass/main.scss */
h4 {
  font-size: 2rem;
  font-weight: normal;
}

/* line 45, ../sass/main.scss */
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 52, ../sass/main.scss */
.small {
  font-size: 1.4rem;
}

/* line 56, ../sass/main.scss */
button {
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 61, ../sass/main.scss */
button a, button a:link, button a:visited {
  color: #ffffff;
}

/* line 67, ../sass/main.scss */
.hyperlink {
  font-size: 1.6rem;
  color: #3d87d2;
}
/* line 72, ../sass/main.scss */
.hyperlink:link, .hyperlink :hover, .hyperlink :visited {
  color: #3d87d2;
}

/* end of collection of shared styles*/
/* line 80, ../sass/main.scss */
html, body {
  height: 100%;
  font-size: 10px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  line-height: 1.2;
}

/* line 91, ../sass/main.scss */
a:link, a:visited {
  text-decoration: none;
}

/* line 95, ../sass/main.scss */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 1.8rem;
  background-color: #F4F4F4;
  color: #000000;
}
/* line 111, ../sass/main.scss */
header nav {
  display: inline-block;
  /* for spare the right place for search*/
  margin-left: 42px;
  /* for the left margin to the window*/
  height: 100%;
}
/* line 117, ../sass/main.scss */
header nav a, header nav a:link, header nav a:visited {
  color: inherit;
}
/* line 121, ../sass/main.scss */
header nav ul {
  height: 100%;
}
/* line 125, ../sass/main.scss */
header nav li {
  display: inline;
  height: 100%;
  padding: 0.5rem 0.8rem;
  margin-right: 4.8rem;
  text-transform: uppercase;
  line-height: 60px;
}
/* line 134, ../sass/main.scss */
header nav li.current {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* line 149, ../sass/main.scss */
.head-slide {
  background-color: #ffffff;
  padding-top: 160px;
  padding-bottom: 100px;
}
/* line 157, ../sass/main.scss */
.head-slide .row button {
  margin-left: 15px;
  padding: 10px 18px;
  color: #ffffff;
  background-color: #3D87D2;
  border-style: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 169, ../sass/main.scss */
.head-slide .row h1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* line 178, ../sass/main.scss */
.text-align-center {
  text-align: center;
}

/* line 185, ../sass/main.scss */
.index-intro {
  padding-bottom: 100px;
  text-align: center;
}
/* line 188, ../sass/main.scss */
.index-intro img {
  width: 100%;
}
/* line 193, ../sass/main.scss */
.index-intro .col-md-4 {
  padding: 0 30px;
}
/* line 198, ../sass/main.scss */
.index-intro h2, .index-intro h4 {
  margin: 30px 0 20px;
}
/* line 207, ../sass/main.scss */
.index-intro h4 + p {
  text-align: left;
  margin-bottom: 20px;
}
/* line 212, ../sass/main.scss */
.index-intro p + a {
  display: inline-block;
}

/* line 220, ../sass/main.scss */
.explain-section {
  margin-bottom: 60px;
  text-align: center;
}
/* line 224, ../sass/main.scss */
.explain-section p {
  margin-top: 20px;
}

/* line 234, ../sass/main.scss */
.section-list {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-color: #666666;
}
/* line 249, ../sass/main.scss */
.section-list h1 {
  font-size: 3.6rem;
  text-align: left;
  text-transform: uppercase;
}
/* line 256, ../sass/main.scss */
.section-list .card {
  position: relative;
  font-size: 1.8rem;
  text-align: left;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  -moz-box-shadow: #aaaaaa 0px 1px 6px;
  -webkit-box-shadow: #aaaaaa 0px 1px 6px;
  box-shadow: #aaaaaa 0px 1px 6px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 272, ../sass/main.scss */
.section-list .card:nth-of-type(3n) {
  margin-right: 0;
}
/* line 277, ../sass/main.scss */
.section-list .card .bg-image {
  position: relative;
  width: 100%;
}
/* line 287, ../sass/main.scss */
.section-list .card .bg-image img {
  width: 100%;
  height: 225px;
  background-color: #999999;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
/* line 298, ../sass/main.scss */
.section-list .card h2 {
  display: inline-block;
  font-size: 2rem;
  vertical-align: middle;
}
/* line 307, ../sass/main.scss */
.section-list .card p {
  color: #686868;
  padding: 0 10px;
}
/* line 315, ../sass/main.scss */
.section-list .card a {
  color: #989898;
}
/* line 322, ../sass/main.scss */
.section-list .ratings {
  display: inline-block;
  margin: 15px 0;
  vertical-align: middle;
}
/* line 329, ../sass/main.scss */
.section-list .label-video {
  display: inline-block;
  margin-left: 8px;
  background-color: #999999;
  font-size: 1.4rem;
  padding: 3px 8px;
  vertical-align: middle;
  border-radius: 8px;
  color: #ffffff;
}

/* line 347, ../sass/main.scss */
.section-method h2 {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  top: 50%;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
}

/* line 367, ../sass/main.scss */
i {
  display: inline-block;
  vertical-align: middle;
}
/* line 372, ../sass/main.scss */
i.star {
  width: 23px;
  height: 19px;
}
/* line 377, ../sass/main.scss */
i.solid {
  background-image: url('/images/Star-solid.png?1467834586');
  background-size: 100%;
}
/* line 383, ../sass/main.scss */
i.hollow {
  background-image: url('/images/Star-hollow.png?1467834598');
  background-size: 100%;
}

/* below for version 3 */
/* line 394, ../sass/main.scss */
.section-list .right {
  float: right;
  margin-left: 38px;
  width: 500px;
  height: 360px;
  background-color: grey;
}
/* line 404, ../sass/main.scss */
.section-list p {
  line-height: 1.5;
}
/* line 411, ../sass/main.scss */
.section-list button {
  margin-top: 26px;
  padding: 12px 16px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4a4a4a;
  border-style: none;
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
}

/* line 18, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 430, ../sass/main.scss */
.section-methods-1 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #dddddd;
}

/* line 439, ../sass/main.scss */
.section-lessons div.title {
  margin-top: 1.4rem;
}

/* search part starts*/
/* line 448, ../sass/main.scss */
form.search {
  display: inline-block;
  float: right;
  margin-right: 42px;
  position: relative;
  margin-top: 16px;
}
/* line 456, ../sass/main.scss */
form.search input[type=search] {
  padding: 0 20px;
  width: 300px;
  height: 2.8rem;
  font-size: 1.6rem;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
}
/* line 469, ../sass/main.scss */
form.search label i {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
}

/*search part ends*/
/* recipes style start  */
/* line 488, ../sass/main.scss */
.recipe-detail .cta button {
  margin-bottom: 18px;
  background-color: transparent;
  border-style: none;
}
/* line 497, ../sass/main.scss */
.recipe-detail .lower-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 503, ../sass/main.scss */
.recipe-detail ul, .recipe-detail p, .recipe-detail .bottom-margin {
  margin-bottom: 40px;
}
/* line 508, ../sass/main.scss */
.recipe-detail ul, .recipe-detail p {
  font-size: 1.6rem;
}
/* line 515, ../sass/main.scss */
.recipe-detail .lower-content h4 {
  display: inline-block;
  margin-bottom: 16px;
  padding-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DFDFDF;
}

/* line 527, ../sass/main.scss */
.methods-wrapper {
  line-height: 1.5;
}
/* line 532, ../sass/main.scss */
.methods-wrapper strong {
  color: #e98562;
  font-size: 2.4rem;
  margin-right: 6px;
}
/* line 539, ../sass/main.scss */
.methods-wrapper .card-head.container-fluid {
  background-color: #e98562;
}

/* line 547, ../sass/main.scss */
.tip-wrapper {
  line-height: 1.5;
}
/* line 552, ../sass/main.scss */
.tip-wrapper strong {
  color: #69B4DE;
  font-size: 2.4rem;
  margin-right: 6px;
}
/* line 559, ../sass/main.scss */
.tip-wrapper .card-head.container-fluid {
  background-color: #69B4DE;
}

/* line 569, ../sass/main.scss */
.card-detail-wrapper .heading {
  position: fixed;
  top: 84px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #999999;
  z-index: 9;
}
/* line 582, ../sass/main.scss */
.card-detail-wrapper .lower-content {
  position: relative;
  margin-top: 230px;
}
/* line 593, ../sass/main.scss */
.card-detail-wrapper .lower-content .left-sidebar li {
  position: relative;
  cursor: pointer;
}
/* line 598, ../sass/main.scss */
.card-detail-wrapper .lower-content .left-sidebar li:hover:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  top: 0;
  bottom: 0;
  margin-left: -8px;
  background-color: #333333;
}
/* line 617, ../sass/main.scss */
.card-detail-wrapper .lower-content .right-content h2 {
  font-size: 2rem;
}
/* line 621, ../sass/main.scss */
.card-detail-wrapper .lower-content .right-content div + div {
  margin-top: 26px;
}

/*for head*/
/* line 633, ../sass/main.scss */
.card-head {
  color: #ffffff;
  padding: 126px 0 36px;
}
/* line 638, ../sass/main.scss */
.card-head h2 {
  margin: 10px 0 16px;
}

/*for left sidebar and right content*/
/* line 649, ../sass/main.scss */
.left-sidebar {
  height: 100%;
  line-height: 1.5;
  font-size: 1.4rem;
}
/* line 659, ../sass/main.scss */
.left-sidebar li, .left-sidebar p {
  font-size: 1.4rem;
  word-wrap: break-word;
  margin-bottom: 6px;
}

/* line 667, ../sass/main.scss */
.right-content {
  padding-left: 30px;
  line-height: 1.5;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dfdfdf;
}
/* line 677, ../sass/main.scss */
.right-content li {
  margin-bottom: 10px;
}

/* line 688, ../sass/main.scss */
.explore-wrapper.lower-content {
  position: relative;
  margin-top: 100px;
}
/* line 696, ../sass/main.scss */
.explore-wrapper .card:nth-of-type(3n+1) {
  clear: both;
}
/* line 701, ../sass/main.scss */
.explore-wrapper .explore-sort {
  display: inline-block;
}
/* line 710, ../sass/main.scss */
.explore-wrapper ul h3 {
  font-weight: bold;
  margin: 26px 0 10px;
}
/* line 716, ../sass/main.scss */
.explore-wrapper ul .options-block {
  height: 100px;
  overflow: auto;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 726, ../sass/main.scss */
.explore-wrapper ul li {
  cursor: pointer;
  padding: 0 5px;
  text-transform: capitalize;
}
/* line 731, ../sass/main.scss */
.explore-wrapper ul li:hover {
  color: #666666;
}
/* line 736, ../sass/main.scss */
.explore-wrapper ul li.current {
  color: #ffffff;
  background-color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*for left sidebar and right content ended*/
/* recipes style end  */
/*search page start */
/* line 754, ../sass/main.scss */
.search-result-wrapper {
  margin: 84px auto;
  padding-top: 42px;
}
/* line 762, ../sass/main.scss */
.search-result-wrapper h3 {
  padding: 20px 8px;
  font-size: 2rem;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* line 772, ../sass/main.scss */
ul.my-pager {
  text-align: right;
  padding-right: 20px;
  margin: 20px 0 10px;
}
/* line 777, ../sass/main.scss */
ul.my-pager li {
  display: inline;
  margin-right: 6px;
  padding: 2px 9px;
  cursor: pointer;
  font-size: 1.6rem;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
/* line 790, ../sass/main.scss */
ul.my-pager li.current {
  background-color: #333333;
  color: #ffffff;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* line 799, ../sass/main.scss */
strong {
  font-weight: bold;
}

/* line 804, ../sass/main.scss */
.search-result {
  margin-bottom: 20px;
}

/* line 809, ../sass/main.scss */
.search-categories, .explore-categories {
  display: inline-block;
  padding: 20px 8px;
}
/* line 814, ../sass/main.scss */
.search-categories li, .explore-categories li {
  display: inline-block;
  padding: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 821, ../sass/main.scss */
.search-categories li.current, .explore-categories li.current {
  color: #ffffff;
  background-color: #333;
  border-radius: 4px;
}
/* line 828, ../sass/main.scss */
.search-categories li:hover, .explore-categories li:hover {
  color: #666666;
}
/* line 839, ../sass/main.scss */
.search-categories li + li, .explore-categories li + li {
  margin-left: 10px;
}

/* line 846, ../sass/main.scss */
.search-sort {
  display: inline-block;
  margin-left: 16px;
  font-size: 1.8rem;
}

/*search page end*/
/* line 855, ../sass/main.scss */
.collection-wrapper {
  padding-top: 100px;
}
/* line 858, ../sass/main.scss */
.collection-wrapper .card:nth-of-type(4n+1) {
  clear: both;
}
/* line 865, ../sass/main.scss */
.collection-wrapper .card input[type=checkbox] {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  z-index: 9;
}
/* line 877, ../sass/main.scss */
.collection-wrapper .configure-bar {
  margin-bottom: 50px;
  font-size: 1.6rem;
}
/* line 882, ../sass/main.scss */
.collection-wrapper .configure-bar .select-all-button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
}
/* line 888, ../sass/main.scss */
.collection-wrapper .configure-bar button {
  margin-left: 20px;
  margin-top: 0;
  font-size: 1.6rem;
  border-style: solid;
  border-width: 1px;
  text-transform: none;
  color: #333;
  background-color: transparent;
}

/* line 910, ../sass/main.scss */
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  padding: 6px 8px;
  font-size: 1.6rem;
}
/* line 921, ../sass/main.scss */
form select::-ms-expand {
  display: none;
}
