/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

//sprites
@import "compass/utilities/sprites";
$icons-layout:smart;
$icons: sprite-map("icons/*.png", $layout: smart);
@import "icons/*.png";

.icons-sprite, .icons-add, .icons-blue-add, .icons-blue-download, .icons-blue-rec, .icons-blue-share, .icons-download, .icons-green-add, .icons-green-download, .icons-green-rec, .icons-green-share, .icons-paper, .icons-pencil, .icons-rec, .icons-red-add, .icons-red-download, .icons-red-rec, .icons-red-share, .icons-share, .icons-video {
  background-image: url('/images/icons-s47e4bb7315.png');
  background-repeat: no-repeat;
  background-size:20px 380px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add {
  background-position: 0 -360px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue-add {
  background-position: 0 -20px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue-download {
  background-position: 0 -40px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue-rec {
  background-position: 0 -60px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-blue-share {
  background-position: 0 -80px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-download {
  background-position: 0 -100px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-green-add {
  background-position: 0 -120px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-green-download {
  background-position: 0 -140px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-green-rec {
  background-position: 0 -160px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-green-share {
  background-position: 0 -180px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-paper {
  background-position: 0 -200px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pencil {
  background-position: 0 -220px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rec {
  background-position: 0 -240px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-red-add {
  background-position: 0 -260px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-red-download {
  background-position: 0 -280px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-red-rec {
  background-position: 0 -300px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-red-share {
  background-position: 0 -320px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share {
  background-position: 0 -340px;
}

/* line 84, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-video {
  background-position: 0 0;
}


// parameters go here
$widthOfList: 1130;      //width of the desktop wrapper 

$columnsInRow: "3n";        //cards in a row

$iconSize: 18;
$marginOfNavbar:42;

//parameters for colors
$methodColor1:#E98562;
$methodColor2:#99492D;
$tipColor1:#66B4DD;
$tipColor2:#205D7D;
$courseColor1:#9BC85D;
$courseColor2:#4E6E20;

$cardTextColor:#535353;
$categoryTabColor:#959595;
$navColor:#F4F4F4;

$linkColor:#3d87d2;
$linkColorHover:#2F68E0;
//for adjust button position
$adjustedTopForEditButton: 6;

@mixin clearfix
{
	&:after
	{
		content:"";
		display: table;
		clear:both;
	}
}


/*collection of shared styles*/
h1
{
	font-size:4.8rem;
	font-weight:bold;
}

h2
{
	font-size:3.2rem;
	font-weight:600;
}

h3
{
	font-size:2.2rem;
	font-weight:bold;
}

h4
{
	font-size:2rem;
	font-weight:normal;
}
p
{
	font-size:1.6rem;
	line-height:1.5;

}

.small
{
	font-size:1.4rem;
}

.bold
{
	font-weight:bold;
}

button
{
	font-size:1.6rem;
	cursor:pointer;

	a,a:link,a:visited
	{
		color: #ffffff;
	}

	&:focus
	{
		outline:0;
	}
}

.hyperlink
{
	font-size:1.6rem;
	color:#3d87d2;

	&:link,:hover,:visited
	{
		color:#3d87d2;
	}
}
/* end of collection of shared styles*/

b
{
	font-weight:600;
}

html,body
{
	position:relative;
	height:100%;
	font-size:10px;
	font-family:"Open Sans",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align:middle;
	line-height:1.2;
}

.view
{
	min-height:100%;
}

a:link,a:visited
{
	text-decoration:none;
}
header
{
	position:fixed;
	width:100%;
	height:60px;
	top:0;
	left:0;
	// padding-top:33px;
	// padding-bottom:33px;
	
	z-index:99;
	font-size:1.8rem;
	background-color:$navColor;
	color:#000000;
	

	nav
	{
		display: inline-block;   /* for spare the right place for search*/
		margin-left:$marginOfNavbar+px;     /* for the left margin to the window*/
		height:100%;
		
		a,a:link,a:visited
		{
			color: inherit;
		}
		ul
		{
			height:100%;
		}
		li
		{
			display:inline;
			height: 100%;
			padding:0.5rem 0.8rem;
			margin-right: 4.8rem;
			text-transform:uppercase;
			line-height: 60px;

			&.current
			{
				border-bottom-style:solid;
				border-bottom-width:2px;
			}


		
		}

		
	}

}

.head-slide
{
	
	background-color:#ffffff;
	padding-top:100px;
	padding-bottom:60px;
	.row
	{
		
		
		button
		{
			margin-top: 30px;
			padding:10px 18px;

			color:#ffffff;
			background-color:#3D87D2;
			border-style:none;
			@include border-radius(6px);
			
		}

		h1
		{
			margin-top: 30px;
			margin-bottom:50px;
			
		}
	}
}

//for the explanation of homepage
.text-align-center
{
	
	text-align:center;

}

.index-intro
{
	padding-top:30px;
	padding-bottom:50px;
	img
	{
		// width: 100%;
	}

	.col-md-4
	{
		padding:0 30px;
	}

	h2,h4
	{
		margin:30px 0 20px;
	}
	
	h2,p
	{
		text-align: left;
	}
	

	text-align:center;  //for align alink to the center

	h4+p
	{
		text-align:left;
		margin-bottom:20px;
	}
	p+a
	{
		display: inline-block;
	}

	h1
	{
		margin-top: 36px;
		text-align: left; 
	}
}

//category introduction
.category-intro-wrapper
{
	&:before
	{
		content:'';
		display: block;
		width: 95%;
		height: 1px;
		margin:0 auto;
		background-color: #dfdfdf;
	}

	h1
	{
		margin-top: 30px;
		margin-bottom:30px;
	}
	
	.arrow-down
	{
		
		background-color:transparent;
		border-style:none;
		i
		{
			width:58px;
			height:27px;
			background-image:image-url('arrow-down.png');
			background-size:contain;
		}
	}


}

.category-intro
{
	padding-top:84px;
	padding-bottom:44px;
	
	

	h3
	{
		margin-top:22px;
	}

	.intro
	{
		p
		{
			margin-top:12px;
			margin-left: 25px;
		}

		a
		{
			display: inline-block;
			margin-top:22px;
			margin-left: 25px;
		}
	}

	.row:first-of-type
	{
		margin-bottom: 40px;
	}
}

//for all explaination
.explain-section
{
	margin-bottom:50px;
	text-align:center;
		p
		{
			margin-top: 20px;
			
		}
}




.section-list
{
	//when no bootstrap
	// width:$widthOfList+px;
	// margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	

	// text-align:center;
	font-size:0;
	border-bottom-style:solid;
	border-bottom-color:#666666;


	h1
	{
		
		font-size:3.6rem;
		text-align:left;
		text-transform: uppercase;
	}
	.card
	{
		// float:left;
		// margin-top:3.4rem;
		// margin-right:70px;
		// width: 330px;
		position:relative;
		font-size: 1.8rem;
		text-align: left;
		
		@include border-radius(4px,4px);
		@include box-shadow(#aaaaaa 0px 1px 6px);
		
		margin-bottom: 20px;
		padding-bottom:10px;
		

		&:nth-of-type(#{$columnsInRow})
		{
			margin-right:0;
		}



		.bg-image
		{

			position:relative;
			padding-top:16px;
			margin-bottom:8px;
			// margin-bottom:1.4rem;
			height:20rem;
			width:100%;
			@include border-radius(4px 4px 0 0);
			
			

			img
			{
				// margin-bottom:1.4rem; //for vertical center of the title, stop doing
				// width:100%;
				// height:225px;
				// background-color:#999999;
				// @include border-radius(4px 4px 0 0);
			}

		}

		.method_card
		{
			.bg-image
			{
	
				background-image:image-url('method-background-thumbnail.png');
				background-repeat:no-repeat;
				background-size: 90px 81px;
				background-position: right 16px bottom 16px;
				background-color:#E98562;

			}

			.small
			{
				color:$methodColor2;
			}
		}

		.class_tip
		{
			.bg-image
			{
				background-color:#66B4DD;
				background-image:image-url('tip-background-thumbnail.png');
				background-repeat:no-repeat;
				background-size: 73px 80px;
				background-position: right 16px bottom 16px;
			}

			.small
			{
				color:$tipColor2;
			}
		}

		.course_example
		{

			.bg-image
			{
				background-image:image-url('course-background-thumbnail.png');
				background-color:#9BC85D;
				background-repeat:no-repeat;
				background-size: 80px 56px;
				background-position: right 16px bottom 16px;
			}

			.small
			{
				color:$courseColor2;
			}
		}

		h2   //to be overrided by .section-method h2
		{
			display: inline-block;
			// margin-top:1.4rem;
			font-size: 2rem;
			
			vertical-align:middle;
		}

		p
		{
			color:$cardTextColor;
			padding: 0 10px;
			//margin-bottom:12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

		}

		a   /*read more*/
		{
			color:#989898;
		}

		.card-heading 
		{
			position:relative;
			width:100%;
			padding:0 15px;
			box-sizing:border-box;
			top:0;
			margin-top:0;
			
			h4
			{
				margin-bottom:12px;
				font-weight: normal;
				height:120px;
				overflow: hidden;
				text-overflow: ellipsis;
				// @include translateY (-50%);
				color:#ffffff;

				&.small
				{
					text-transform:uppercase;
					height:auto;
				}
			}
			
		}
		
	}

	.ratings
	{
		display: inline-block;
		margin:15px 0;
		vertical-align: middle;
	}

	.label-video
	{
		display: inline-block;
		margin-left: 8px;
		background-color:#999999;
		font-size:1.4rem;
		padding: 3px 8px;
		vertical-align:middle;
		border-radius: (8px);
		color: #ffffff;

	}
	

}



i
{
	display:inline-block;
	vertical-align:middle;

	&.star
	{
		width:23px;
		height:19px;
	}
	&.solid
	{
		background-image:image-url('Star-solid.png');
		background-size:100%;
	}

	&.hollow
	{
		background-image:image-url('Star-hollow.png');
		background-size:100%;
	}
}


/* below for version 3 */
.section-list
{
	.right  /* blocks float to the right*/
	{
		float:right;
		margin-left:38px;
		width: 500px;
		height: 360px;

		background-color:grey;

	}
	p
	{
		
		// margin-top:3.4rem;
		line-height:1.5;
	}

	button
	{
		margin-top:26px;
		padding: 12px 16px;
		font-size: 1.8rem;
		text-transform:uppercase;
		color: #ffffff;
		background-color:#4a4a4a;
		border-style:none;
		@include border-radius(6px, 6px);
		
		
	}
}
.clearfix
{
	@include clearfix;
}

.section-methods-1
{
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#dddddd;
}

.section-lessons
{
	div.title
	{
		margin-top:1.4rem;
	}
}


/* search part starts*/

form.search
{
	display:inline-block;
	float:right;
	margin-right:$marginOfNavbar+px;
	position:relative;
	margin-top:16px;

		input[type=search]
		{
			
			padding:2px 10px;
			width:210px;
			height:2.8rem;
			font-size:1.4rem;
			@include border-radius(6px, 6px);
			border-style:solid;
			border-width:1px;
			border-color:#979797;
		}

		label i
		{
			position: absolute;
			right:20px;
			top:50%;
			margin-top: -$iconSize/2+px;
			cursor:pointer;
			

		}
}

/*search part ends*/

/* recipes style start  */
.recipe-detail
{
	.cta
	{
		button
		{
			margin-bottom: 18px;
			background-color:transparent;
			border-style:none;

		}
	}

	.lower-content
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	ul,p,.bottom-margin,figure
	{
		margin-bottom: 40px;
	}

	ul,p
	{
		font-size: 1.6rem;
	}

	.lower-content
	{
		h4
		{
			display: inline-block;
			margin-bottom: 16px;
			padding-bottom: 4px;
			border-bottom-style:solid;
			border-bottom-width:1px;
			border-bottom-color:#DFDFDF;
		}
	}

	.key-image
	{
		width: 100%;
	}

	.right-content
	{
		border-left-style:solid;
		border-left-width:1px;
		border-left-color:#dfdfdf;
	}
}

.methods-wrapper
{
	
	line-height:1.5;

	strong
	{
		color:#e98562;
		font-size: 2.4rem;
		
	}

	.card-head.container-fluid
	{
		background-color:#e98562;
	}
	

}

.tip-wrapper
{
	
	line-height:1.5;

	strong
	{
		color:#69B4DE;
		font-size: 2.4rem;
		
	}

	.card-head.container-fluid
	{
		background-color:#69B4DE;
	}
	

}

.card-detail-wrapper
{
	.heading
	{
		position:fixed;
		top:84px;
		width:100%;
		padding-top:20px;
		padding-bottom:20px;

		background-color: #999999;
		z-index:9;

	}

	.lower-content
	{
		position:relative;
		// margin:200px auto 0;
		// width:$widthOfList+px;
		margin-top: 230px;

		.left-sidebar
		{
			
			

			li
			{
				position:relative;
				cursor:pointer;

				&:hover:before
				{
					content:'';
					position: absolute;
					display: inline-block;
					width:4px;
					top:0;
					bottom:0;
					margin-left: -8px;
					background-color: #333333;

				}
			}

		}

		.right-content
		{

			h2
			{
				font-size:2rem;
			}
			div+div
			{
				margin-top:26px;
			}
		}
	}


}

/*for head*/

.card-head
{
	color:#ffffff;
	padding:116px 0 36px;

	h2
	{
		margin:10px 0 16px;
	}
	
	.cta
	{
		button
		{
			i
			{
				display: inline-block;
				margin-right:10px;
				width: 20px;
				height:20px;

				// background-size: 20px 380px;
			}
		}
	}
}




/*for left sidebar and right content*/
.left-sidebar
{
	// position:relative;
	// float:left;
	// width:200px;
	height:100%;
			
	// padding-right:20px;
	line-height: 1.5;
	font-size: 1.4rem;
	li,p
	{
		font-size: 1.4rem;
		word-wrap: break-word;
		margin-bottom: 6px;
	}

	.recipe-tags
	{
		li
		{
			display: inline-block;
			margin-right: 12px;
			color:#3d87d2;
		}
	}
	
	.link-left
	{
		font-size: 1.4rem;
		display: inline-block;
		width:66%;
		vertical-align: top;
		// white-space: nowrap;
  // 		overflow: hidden;
  // 		text-overflow: ellipsis;
	}



	.remove-button /*remove button for links*/
	{
		margin-left: 6px;
		padding:2px 2px;
		vertical-align: middle;
		
		background-color: transparent;
		border-style: none;
		border-width:1px;
		@include border-radius(10px);
	}
	.contributer
	{
		//display: inline-block;
		color:$categoryTabColor;
		font-size: 1.2rem;
	}

	i.cross //for remove contributed links
	{
		
		width:10px;
		height:10px;
		background-image: image-url("quit.png");
		background-size:contain;

		cursor:pointer;

	}

	.also-see
	{
		a
		{
			vertical-align: middle;
			line-height: 1;
		}

		li
		{
			font-size: 0; //to fix inline-block position

			button
			{
				font-size: 1.0rem;
				padding:0;
				background-color: transparent;
				border-style:none;
				vertical-align: middle;
			}

			&:hover
			{
				.edit-buttons-set
				{
					display: inline-block;
					margin:0;
				}
			}

			.edit-buttons-set
			{
				display: none;
				
				.edit-button
				{
					margin-left: 4px;
					padding-top: $adjustedTopForEditButton+px;
				}

				.remove-button
				{
					padding-top: $adjustedTopForEditButton+px;
				}
			}
		}

		input
		{
			line-height:1;
		}

	}


	form
	{
		font-size:1.4rem;

		

		&.contribute-form
		{
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 0;
			div
			{	
				max-height: 150px;
				transition: all ease 0.5s;
				
				&+button
				{
					margin-top: 10px;
				}
			}
		
			.ng-hide
			{
				max-height:0;
				opacity: 0;
			}

			input
			{
				display: inline-block;
				font-size: 1.2rem;
				margin-left:6px;
				margin-bottom:12px;
				padding:4px;
				border-style:solid;
				border-color:#bbbbbb;
				border-width:1px;
				@include border-radius(2px,2px);
				// background-color:#eeeeee;
			}

			button
			{
				padding:4px 18px;
				background-color: $methodColor1;
				@include border-radius(2px,2px);
				border-style:none;
				color:#ffffff;
				// font-size: 1.4rem;
				transition: all ease 0.3s;

				&:hover
				{
					background-color:#F47346;
				}

				&.cancel-button
				{
					background-color: #bbb;
					margin-left:6px;
				}


			}

			label
			{
				font-size: 1.4rem;
				margin-left:6px;
				display: inline-block;


				&.upload-button
				{
					font-size: 1rem;
					color:$linkColor;
					cursor:pointer;

					&:hover
					{
						color:$linkColorHover;
					}
				}
			}

			span
			{
				display: inline-block;
				width:56px;
				font-size: 1.4rem;
				
			}

			.link-group   //style of link group
			{
				display: inline-block;
				position:relative;
				margin-left: 6px;
				margin-bottom:12px;

				input
				{
					margin-left:0;
					margin-bottom: 0;
				}

				#progressBar
				{
					position: absolute;
					top:0;
					bottom:0;
					width:0%;
					background-color: #25B135;
					opacity: 1;
					border-style:none;
					border-color:#bbbbbb;
					border-width:1px;
					@include transition(width 0.08s linear 0s, background-color 0.5s linear 1s);
					@include border-radius(2px);
					
					
					span
					{
						font-size: 1.2rem;
						margin-top: 4px;
						margin-left: 4px;
					}

					
				}
			}
		}
	}

}

.right-content
{
	// margin-left:200px;
	// padding-left:20px;
	padding-left:30px;
	line-height: 1.5;
	// border-left-style:solid;
	// border-left-width:1px;
	// border-left-color:#dfdfdf;

	li
	{
		margin-bottom: 10px;

		p
		{
			margin-left:30px;
			margin-top:6px;
			margin-bottom: 8px;
		}
	}

	strong.figure
	{
		float:left;
		position:relative;
		width: 30px;
	}



}

.explore-wrapper
{

	.explore-head
	{
		padding-top:126px;
	}

	.lower-content
	{
		position:relative;
		// margin:200px auto 0;
		// width:$widthOfList+px;
		border-top-style:solid;
		border-top-width:1px;
		border-top-color:#dcdcdc;
	}

	.card:nth-of-type(3n+1)
	{
		clear:both;
	}

	.explore-sort
	{
		display: inline-block;
	}



	ul
	{
		h3
		{
			font-size:1.6rem;
			font-weight:600;
			margin: 26px 0 10px;
		}
		
		.options-block
		{
			height:100px;
			overflow: auto;
			border-style:solid;
			border-color:#aaaaaa;
			border-width:1px;
			@include border-radius(4px);

			li.current
			{
				background-color:#4a4a4a;
				color:#ffffff;
			}
		}

		li
		{
			cursor:pointer;
			padding:6px 10px;
			text-transform: capitalize;
			// &:hover
			// {
			// 	color:#666666;
			// }

			
		}
	}
}

/*for left sidebar and right content ended*/



/* recipes style end  */


/*search page start */
.search-result-wrapper
{
	margin:84px auto;
	padding-top:42px;
	// width:$widthOfList+px;
	
	

	h3
	{
		padding:20px 8px;
		font-size:2rem;
		font-weight: bold;
		border-bottom-style:solid;
		border-bottom-width:1px;
	}
}

ul.my-pager
{
		text-align: right;
		padding-right: 20px;
		margin:20px 0 10px;
		li
		{
			display: inline;
			margin-right: 6px;
			padding:2px 9px;
			cursor:pointer;
			font-size: 1.6rem;
			// border-style:solid;
			// border-width:1px;
			
			
			@include border-radius(16px);

			&.current
			{
				background-color: #333333;
				color: #ffffff;
				@include border-radius(16px);

				&:hover
				{
					color:#ffffff;
				}
			}
		}
}

strong
{
	font-weight:bold;

	#method-intro h3 &
	{
		color:$methodColor1;
	}

	#tip-intro h3 &
	{
		color:$tipColor1;
	}

	#course-intro h3 &
	{
		color:$courseColor1;
	}
}

.search-result
{

	margin-bottom:20px;
}

.search-list
{
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#bbbbbb;
	padding-top:20px;

	a h4
	{
		margin-bottom:6px;
		color:#4A4A4A;
		font-weight:bold;

		&:hover
		{
			color:#000000;
		}

	}

	.thumbnail
	{
		height:100px;
		background-repeat:no-repeat;
		background-size: contain;
		&.method_card
		{
			background-image:image-url('method-background-thumbnail.png');
			background-color:$methodColor1;
		}

		&.class_tip
		{
			background-image:image-url('tip-background-thumbnail.png');
			background-color:$tipColor1;
		}

		&.course_example
		{
			background-image:image-url('course-background-thumbnail.png');

			background-color:$courseColor1;
		}
	}
}

.search-categories,.explore-categories
{	
	display:inline-block;
	padding:20px 8px;
	
	li
	{
		display: inline-block;
		padding:6px 10px;
		font-size:1.6rem;
		cursor:pointer;
		color:$categoryTabColor;

		&.current
		{
			color:#ffffff;
			background-color:#4A4A4A;
			border-radius: (4px);
			
			&:hover
			{
				color:#ffffff;
			}
		}

		&:hover
		{
			color:#666666;
		}

		// &+li:before
		// {
		// 	content: '•';
		// 	display: inline;
		// }
		// 
		&+li
		{
			margin-left:10px;
		}
	}
}

.search-sort
{
	display:inline-block;
	margin-left:16px;
	font-size:1.8rem;
}
/*search page end*/

// collection page start
.collection-wrapper
{
	padding-top:100px;
	padding-bottom:100px;
	.card:nth-of-type(4n+1)
	{
		clear:both;
	}

	.card
	{
		input[type=checkbox]
		{
			position:absolute;
			top:10px;
			left:12px;
			width: 20px;
			height: 20px;
			z-index: 9;
		}

		div.card-heading
		{
			margin-top: 26px;
		}
	}


	.configure-bar
	{
		margin-bottom: 50px;
		font-size: 1.6rem;
		
		.select-all-button
		{
			display: inline-block;
			padding-top:12px;
			padding-bottom:13px;
		}
		button
		{
			margin-left:20px;
			margin-top: 0;
			font-size:1.6rem;
			border-style:solid;
			border-width:1px;
			text-transform: none;
			color:#333;
			background-color: transparent;
		}
	}

	
}

// collection ends


//form style
form
{
	select
	{
	
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		background-color:white;
		padding:6px 8px;
		font-size: 1.6rem;
		
		&::-ms-expand
		{
			display: none;
		}

		option
		{
			// display:none;
		}

	}
}



//form style ends


//start of about
.about-wrapper
{
	height:100%;
	padding-top:80px;
	padding-bottom:70px;

	h2
	{
		margin-bottom: 20px;
		margin-top: 36px;
	}

	.member
	{
		text-align: left;
		div,p
		{
			display: inline-block;
		}
		i
		{
			width:100%;
			height:120px;
			background-size: contain;
			background-repeat:no-repeat;
			background-position:left center;

			&.sap
			{
				background-image: image-url('sap.png');
			}

			&.ucsd
			{
				background-image: image-url('ucsd.png');
			}
		}
	}
}


//recipe-list-wrapper
.recipe-list-wrapper
{
	padding-top:100px;
}


//footer
footer
{
	// border-top-style:solid;
	// border-top-color:#999;
	// border-top-width:1px;
	margin-top:30px; 
	padding:10px 50px;
	background-color:#DDDDDD;
	color:#888;
	
	img
	{
		display: inline-block;
		width: 120px;
		margin-right: 16px;
	}
	p
	{
		// display: inline-block;
	}
	.right
	{
		float:right;
	}
	
	.copy-info
	{
		overflow: hidden;
	}

	.left
	{
		float:left;
	}
	a:link,a:visited
	{
		color:inherit;
	}

	.mail
	{
		text-decoration:underline;
		color:#333;
		
		&:link,:visited
		{
		color:#333;
		}

		&:hover
		{
			color:#111;
		}
	}
	
}

.popup-wrapper
{
	position:fixed;
	width:100%;
	top:0;
	bottom:0;
	background-color:#333333;
	background-color:rgba(0,0,0,0.8);
	z-index:999;


	.popup
	{
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-250px;
		@include transform(translateY(-50%));
		padding:0;
		width:580px;
		// height:300px;
		background: #ffffff;
		text-align: center;
		@include border-radius(6px);

		p
		{
			margin-top: 30px;
			margin-bottom: 20px;
		}

		i.cross
		{
			position:absolute;
			top:12px;
			right:12px;
			width:20px;
			height:20px;
			background-image: image-url("quit.png");
			background-size:contain;

			cursor:pointer;

		}
	}
}


/* start of register page */

.register-wrapper,.login-wrapper
{
	padding-top:100px;
	padding-bottom:80px;

	.input-title
	{
		display: inline-block;
		width:80px;
	}
}

.activation-wrapper
{
	padding-top:100px;
	padding-bottom:80px;

	.input-title
	{
		display: inline-block;
		width:80px;
	}
}

.signup-popup-wrapper
{

	h4
	{
		background-color:$navColor;
		padding:20px;
		@include border-radius(6px 6px 0 0);
	}
	p
	{
		text-align: left;
		padding: 0 30px;
	}

	form
	{
		padding: 0 30px 40px;
		text-align:center ;
		font-size:1.6rem;
		
		span
		{
			display: inline-block;
			margin:10px 6px;
		}

		.sign-up-fields
		{
			text-align: left;
		}

		input
		{
			display: inline-block;
			padding: 2px 2px;
			margin:10px 6px;
			//font-weight: bold;
			border-style:none;
			border-bottom-style:solid;
			border-bottom-color:#dddddd;
			border-bottom-width:2px;
			background-color: transparent;
			transition: all ease 0.3s;

			&:focus
			{
				outline-style:none;
				box-shadow:none;
			}
			
			&.has-error
			{
				border-bottom-color:red;
				
			}

			&.valid
			{
				border-bottom-color:green;
				
			}
		}

		button
		{
			margin-top: 20px;
			padding: 8px 30px;
			color:#ffffff;
			
			background-color: $methodColor1;
			border-style:none;
			@include border-radius(6px);

		}
	}
}

/*end of register page*/
