/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */



@media print {

	html,body,.lower-content
	{
		position:static !important;
	}
	header,footer{
	  display: none;
	}

	img {
		max-width: 500px !important;
	}

	@page
	{
		margin:1.2cm;
	}

	
	button
	{
		display:none;
	}

	.card-head {
		-webkit-print-color-adjust: exact !important ;
		background-color:#e98562 !important;
		// color:#ffffff !important;
		
		padding:80px 50px 30px !important;

		.cta
		{
			display: none;
		}

		h4,h2,div,div span
		{
			// color:#ffffff !important;
		}

		h4
		{
			margin-top: 0px !important;
		}

		img
		{
			
			display: inline-block !important;
			vertical-align: middle;
		}

		.col-md-8
		{
			display: inline-block;
			vertical-align: middle;
		}
	}

	.lower-content
	{
		width: 100% !important;
		padding-left:50px !important;
		padding-right:50px !important;
		

		.left-sidebar
		{
			width:100% !important;
			float: none !important;
		}
		
		.pageBreak
		{
		}

		.right-content
		{
			width:100% !important;
			padding-left:10px;
			border-left-style:none;
			page-break-before:always;
		}
	}

	
	.print
	{
		display:block;
		margin-top: 100px;
		

		.small,a
		{
			margin-top: 10px;
			font-size:12px;
		}
	}
}

