<!DOCTYPE html>
<html lang="en" ng-app="cookbook">
<head>
	<meta charset="UTF-8">
	<title>Cookbook</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/angular-spinkit/build/angular-spinkit.min.css">
	<!-- <base href="/"> -->
</head>
<body ng-controller="indexController">
	<header>
		<nav>
			<ul>
				<li ng-class="{'current':currentTab.name==='home'}" ng-click="tabClick('home')"><a href="#!home">Home</a></li>
				<li ng-class="{'current':currentTab.name==='explore'}"><a href="#!explore" ng-click="tabClick('explore')">Explore Recipes</a></li>
				<li ng-class="{'current':currentTab.name==='collection'}"><a href="#!collection" ng-click="tabClick('collection')">My Collection</a></li>
				<li ng-class="{'current':currentTab.name==='about'}"><a href="#!about" ng-click="tabClick('about')">About</a></li>
				<li><a href="mailto:DL_5783E42E5F99B7D951000009@exchange.sap.corp?Subject=Feedback%20about%20Cookbook">Feedback</a></li>
			</ul>
		</nav>

		<form class="search" name="searchForm" ng-controller="searchController as search" ng-submit="search.searchSubmit()">
			<input type="search" ng-model="search.searchTerm" name="searchInput">
			<label for="search-submit"><i class="glyphicon glyphicon-search"></i></label> 
			<button type="submit" id="search-submit" class="hide">search</button>
			
		</form>
	</header>
	
	<!-- <div>
	<route-loading-indicator></route-loading-indicator>
	</div> -->
	<div ng-view class="view">
	</div>

	<!-- disque start from here-->
	<!-- <div id="disqus_thread"></div>
	<script>

		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
		/*
		var disqus_config = function () {
		    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		    var d = document, s = d.createElement('script');
		    s.src = '//cookbook-2.disqus.com/embed.js';
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>	
	
	<a href="/#disqus_thread">Link</a> -->
	<!-- disque ends here-->
	<!--<script id="dsq-count-scr" src="//cookbook-2.disqus.com/count.js" async></script>-->
	<!-- disque comment count ends here-->

	<footer>
	
	<p class="small right"><a class="mail" href="mailto:DL_5783E42E5F99B7D951000009@exchange.sap.corp?Subject=Feedback%20about%20Cookbook">Contact us</a></p>
	
	<div class="copy-info">
		<div class="left">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
			<img class="copy-image" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
		</a>
		</div>

		<div>
		<p class="small">The cookbook is a collaboration between SAP and the Design Lab at UC San Diego. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>

		</div>
	</div>
	</footer>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script>window.angular || document.write('<script src="assets/angular-1.5.8.min.js"><\/script> <script src="assets/angular-route-1.5.8.min.js"><\/script>');</script>

    
    <script src="js/utility.js"></script>

    <script src="js/cookbook.js"></script>
    <script type="text/javascript" src="disqus/dirDisqus.js"></script>
    <script type="text/javascript" src="disqus/disqusController.js"></script>
    <script src="js/routes.js"></script>
    <script type="text/javascript" src="/app/method_card/js/cardDetail.js"></script>
    <script src="/app/search/search.js"></script>
    <script src="/app/collection/collection.js"></script>
    <script type="text/javascript" src="/app/index/js/cardOnHomepage.js"></script>
    <script type="text/javascript" src="/app/explore/js/explore.js"></script>
    <script type="text/javascript" src="/app/classroom-tip/js/tipDetail.js"></script>
    <script type="text/javascript" src="/app/recipe-list/js/recipe-list.js"></script>

    <script src="/assets/angular-spinkit/build/angular-spinkit.min.js"></script>
    
    
</body>
</html>