<div class="register-wrapper">

<form ng-submit="registerSubmit()"class="container">

	<span class="input-title">Username: </span><input type="text" name="username" required ng-model="username"><br />

	<span class="input-title">Email: </span><input type="email" name="email" required ng-model="email"><br />

	<span class="input-title">Password: </span><input type="password" name="password" required ng-model="password"><br />

	<span class="input-title">Title: </span><input type="text" name="title" required ng-model="title"><br />

	<span class="input-title">University: </span><input type="text" name="university" required ng-model="university"><br />
	
	<button type="submit">Register</button>

</form>

	
</div>