<div class="methods-wrapper">

<h1>{{card.title}}</h1>
<span>{{card.title}}</span>
<img src="" alt="" ng-src="/drupal/sites/default/files/{{card.field_card_image.und[0].filename}}">
<h2>Overview</h2>
<p>{{card.field_activity_description.und[0].value}}</p>



<div>
	<dir-disqus disqus-shortname="cookbook-2"
				disqus-identifier="{{ disqus.identifier }}"
				
				disqus-url="{{ disqus.url }}"
				>
	</dir-disqus>
</div>
</div>

<!-- Posted by<b>{{card.field_author.und[0].value}}</b></p>
								<p>{{card.field_activity_description.und[0].value}}</p>
								<p>Endorsed by <span ng-repeat="endorse in card.field_endorse.und"></span>{{endorse.value}}</p> -->