<div class="search-result-wrapper container">
	
	<ul class="search-categories">
		<li ng-click="setCategory('all')">
			<span>all</span>
			<span>({{totalNumber}})</span>
		</li>
		<li ng-repeat="category in categories" ng-click="setCategory(category[0])">
			<span class="category-title">{{category[0]|noDash}}</span>
			<span class="category-count">({{category[1]}})</span>
		</li>
	</ul>
	<div class="search-result" ng-repeat="result in results" >
		<a ng-href="#!{{result.bundle}}/{{result.entity_id}}"><h2>{{result.label[0]}}</h2></a>

		<!-- orginal html -->
		<!-- <p>{{highlighting[result.id].content[0]}}</p> -->
		<p ng-bind-html="toTrustedHTML(highlighting[result.id].content[0])"></p>
	</div>
</div>



<!-- ng-show="currentCategory==='all'||currentCategory===result.bundle" -->