<div class="collection-wrapper container">
	<div class="row explain-section">
		<h2>MY COLLECTION</h2>
	</div>
	<!-- should judge if exist -->
	<form name="zips" action="/action.php" method="post" class="section-list section-method ">
		<div class="configure-bar">
			<input type="checkbox" name="selectAll" ng-model="selectAll" ng-change="toggleAll(selectAll)"/>Select all
			
			<button type="submit" id="submit" name="createzip" value="Download All Seleted Files">Download recipes</button>
			<button id="remove" name="remove">Remove from collection</button>
		</div>
		<div class="clearfix">
			<div class="col-md-3" ng-repeat="card in cards">
				<div class="card" >
					<input type="checkbox" checked="" name="files[]" value="{{card.fileURL}}" ng-model="selectArray[$index]" />
					<a ng-href="#!method_card/{{card.nid}}">
						<div class="bg-image">
							<img src="" alt="">

							<h2>{{card.title}}</h2>
						</div>
					</a>	
						<!-- <p>{{card.summary}}</p> -->
						<p>Posted by <strong>{{card.author}}</strong></p>
						<p>{{card.recommended}} recommend this recipe</p>
						<p>Endorsed by <span>{{card.endorse}}</span></p>

				</div>
			</div>
		</div>
	<!-- take into account the url will change when hosted online, remember to modify it -->
		</br>
	
		<input ng-repeat="card in cards" type="checkbox" name="files[]" value="{{card.fileURL}}"/>
		<!-- <input type="submit" id="submit" name="createzip" value="Download All Seleted Files" > -->
		
	</form>



	<!-- <form name="zips" action="php/action.php" method="post">
<input type="checkbox" name="files[]" value="SampleFile.pdf"/><label>PDF File</label><br />
<input type="checkbox" name="files[]" value="SampleFile.docx"/><label>Word File</label><br />
<input type="checkbox" name="files[]" value="HTML5.png"/><label>Image File</label><br />
<input type="submit" id="submit" name="createzip" value="Download All Seleted Files" >-->
	
</div> 