<div class="explore-wrapper">
	<div class="container explore-head">
		<div class="row">
			<div class="explain-section col-md-8 col-md-offset-2">
				<h2>Start exploring!</h2>
				<p>Our recipes are organized into three categories: methods, classroom tips, and courses. Use the filters to and search bars to make it easier when you’re looking for specific recipes!</p>
			</div>
		</div>
	</div>
	<div class="lower-content container">
		<div class="left-sidebar col-md-3">
			<ul>
				<h3>Endorsed by</h3>

				<div class="options-block"><li ng-repeat="endorsement in endorsements" ng-click="setCategory('sm_field_endorse',endorsement[0],endorsement[1])" ng-class="{'current':filterStatus.sm_field_endorse==endorsement[0]}">{{endorsement[0]}}</li></div>
			</ul>

			<ul>
				<h3>Professor</h3>
				<div class="options-block"><li ng-repeat="professor in professors" ng-click="setCategory('sm_field_author',professor[0],professor[1])" ng-class="{'current':filterStatus.sm_field_author==professor[0]}">{{professor[0]}}</li></div>
			</ul>
		</div>
		

		<div class="right-content col-md-9">
			<ul class="search-categories">
				<li ng-click="setCategory('bundle','all',totalNumber)" ng-class="{'current':currentCategory=='all'}">
					<span>All</span>
					<span>({{totalNumber}})</span>
				</li>
				<li ng-repeat="category in categories" ng-click="setCategory('bundle',category[0],category[1])" ng-class="{'current':currentCategory==category[0]}">
					<span class="category-title"> {{category[0]|noDash}}s</span>
					<span class="category-count">({{category[1]}})</span>
				</li>
			</ul>
			<!-- <form class="explore-sort">
				<select ng-model="sort" ng-change="sortResult()">
					<option id="option-relevance" value="">relevance</option>
					<option id="option-recommended" value="its_field_recommended">Most recommended</option>
					<option id="option-recent" value="timestamp">Most recent</option>
				</select>
				
			</form> -->
			
			<ul class="my-pager">
				<li ng-class="{'current':currentPage===($index+1)}" ng-repeat="pager in pagers" ng-click="goToPage($index+1)">{{$index+1}}</li>
			</ul>
			<div class="section-list section-method clearfix">
				<div class="col-md-4" ng-repeat="result in results" >
					<div class="card">
						<a ng-href="#!{{result.bundle}}/{{result.entity_id}}" class="{{result.bundle}}">
							<div class="bg-image">
								
								<div class="card-heading">
									<h4 class="small">{{result.bundle|noDash}}</h4>
									<h4>{{result.label[0]}}</h4>
								</div>
								<img src="" alt="">
							</div>
						</a>	
							<!-- <p>{{card.summary}}</p> -->
							<p>Posted by <strong>{{result.sm_field_author[0]||"Anonymous"}}</strong></p>
							<p>{{result.its_field_recommended||"0"}} recommend this recipe</p>
							<p>Endorsed by <span>{{result.sm_field_endorse[0]||"SAP"}}</span></p>
											
						<!-- orginal html -->
						<!-- <p>{{highlighting[result.id].content[0]}}</p> -->
					</div>
					
				</div>
			</div>

			

		</div>
	</div>
	


</div>