<div class="explore-wrapper lower-content container">

	<div class="left-sidebar">
		<ul>
			<h3>Endorsed by</h3>
			<li ng-repeat="endorsement in endorsements" ng-click="setCategory('sm_field_endorse',endorsement[0],endorsement[1])" ng-class="{'current':filterStatus.sm_field_endorse==endorsement[0]}">{{endorsement[0]}}</li>
		</ul>

		<ul>
			<h3>Professor</h3>
			<li ng-repeat="professor in professors" ng-click="setCategory('sm_field_author',professor[0],professor[1])" ng-class="{'current':filterStatus.sm_field_author==professor[0]}">{{professor[0]}}</li>
		</ul>
	</div>
	

	<div class="right-content">
		<ul class="search-categories">
			<li ng-click="setCategory('bundle','all',totalNumber)" ng-class="{'current':currentCategory=='all'}">
				<span>all</span>
				<span>({{totalNumber}})</span>
			</li>
			<li ng-repeat="category in categories" ng-click="setCategory('bundle',category[0],category[1])" ng-class="{'current':currentCategory==category[0]}">
				<span class="category-title"> {{category[0]|noDash}}</span>
				<span class="category-count">({{category[1]}})</span>
			</li>
		</ul>
		<form class="explore-sort">
			<select ng-model="sort" ng-change="sortResult()">
				<option id="option-relevance" value="">relevance</option>
				<option id="option-recommended" value="its_field_recommended">Most recommended</option>
				<option id="option-recent" value="timestamp">Most recent</option>
			</select>
			
		</form>
		
		<div class="section-list section-method clearfix">
			<div class="card col-md-4" ng-repeat="result in results" >
				<a ng-href="#!{{result.bundle}}/{{result.entity_id}}">
					<div class="bg-image">
						<img src="" alt="">
						<h2>{{result.label[0]}}</h2>
					</div>
				</a>	
					<!-- <p>{{card.summary}}</p> -->
					<p>Posted by <strong>{{result.sm_field_author}}</strong></p>
					<p>{{result.its_field_recommended}} recommend this recipe</p>
					<p>Endorsed by <span>{{result.sm_field_endorse}}</span></p>
									
				<!-- orginal html -->
				<!-- <p>{{highlighting[result.id].content[0]}}</p> -->
				
			</div>
		</div>

		<ul class="my-pager">
			<li ng-repeat="pager in pagers" ng-click="goToPage($index+1)">{{$index+1}}</li>
		</ul>

	</div>
	
	


</div>