<div class="about-wrapper container">
<h2>About us</h2>
<p>The cookbook is a collaboration between SAP and the Design Lab at UC San Diego. All artifacts within the cookbook are made available under Creative Commons 4.0 license agreements.</p>

<h2>Participants</h2>
<div class="row">
	<div class="col-md-3  member">
		<i class="sap"></i>
		<p>SAP Design X</p>
	</div>

	<div class="col-md-3  member">
		<i class="ucsd"></i>
		<p>UCSD Design Lab</p>
	</div>
</div>
<h2>Contact us</h2>

<p><strong>Andrea Anderson</strong>: andrea.anderson@sap.com</p>
<p><strong>Michele Morris</strong>: michelemorris@ucsd.edu</p>
</div>