<section class="section-list section-method row">
			
					
						<div class="col-md-3" ng-repeat="card in cards" >
							<div class="card">
								<a ng-href="#!{{category}}/{{card.nid}}" class="{{category}}">
									<div class="bg-image">
										
										<div class="card-heading">
											<h4 class="small">{{category|noDash}}</h4>
											<h4>{{card.title}}</h4>
										</div>
										<img src="" alt="">
									</div>
								</a>	
									<!-- <p>{{card.summary}}</p> -->
									<p>Posted by <strong>{{card.author||"Anonymous"}}</strong></p>
									<p>{{card.recommended||"0"}} recommend this recipe</p>
									<p>Endorsed by <span>{{card.endorse||"SAP"}}</span></p>
													
								<!-- orginal html -->
								<!-- <p>{{highlighting[result.id].content[0]}}</p> -->
							</div>
							
						</div>
					
			
			
</section>