	<div class="index-template-wrapper">	
		<section class="head-slide container-fluid">
			<div class="container">
				<div class="row">

					<div class="col-md-6">
						<h1>The Teaching Kit</h1>
						<p>The teaching kit offers recipe cards for implementing project-based learning in the classroom. Through project-based learning, students get to deeply engage with course concepts, practice design thinking, and collaboratively solve problems.</p>
					</div>
					<img class="col-md-6" src="/images/index-banner.png" />
				</div>

				<div class="row">
					<button>
						<a href="#!explore">Start exploring</a>
					</button>
				</div>
			</div>


		</section>
		
		
		<section class="container index-intro">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-align-center explain-section">
					<h2>What is a reciep?</h2>
					<p>Each recipe provides a unique angle on facilitating a project-based university course. They are designed to aid the teaching process, from lecturing design thinking concepts to grading project deliverables.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="images/index-method.png" alt="methods">
					<h4 class="text-align-center">Methods</h4>
					<p>Incorporating design thinking methods into the learning experience provides deep industry insights.</p>
					<a href="/" class="hyperlink">View methods</a>
				</div>
				<div class="col-md-4">
					<img src="images/index-classroom.png" alt="classroom">
					<h4 class="text-align-center">Classroom tips</h4>
					<p>Suggestions on how to manage a project-based classroom, from defining rubrics to grading student work, and more.</p>
					<a href="/" class="hyperlink">View tips</a>
				</div>
				<div class="col-md-4">
					<img src="images/index-course.png" alt="courses">
					<h4 class="text-align-center">Example courses</h4>
					<p>Examples of project-based courses run by university professors and endorsed by the industry.</p>
					<a href="/" class="hyperlink">View courses</a>
				</div>
			</div>
		</section>
		<!-- list of lessons -->
		<!-- <section class="section-list section-lessons clearfix container-fluid">
			<div class="container">
				<div class="row">
					<div class="intro col-md-3">
						<h1>Methods</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>
						<button>View all</button>
					</div>
					<div class="card intro col-md-3" ng-repeat="card in methods">
						<div class="bg-image">
							<img ng-src="{{card.card_image.src}}" alt="">
							<div class="title"><h2>{{card.title}}<span class="label-video">VIDEO</span></h2>
							</div>
						</div>
						<div>
							
							<span class="ratings">Ratings</span>
							<span class="rating star">
								<i class="solid star"></i>
								<i class="solid star"></i>
								<i class="solid star"></i>
								<i class="hollow star"></i>
								<i class="hollow star"></i>	
							</span>
						</div>
						<p>{{card.summary}}</p>
						<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
			 -->
		

		<!-- list of methods -->
		<!-- <section class="section-list section-method clearfix container-fluid">
			<div class="container">
				<div class="row">
						<div class="intro col-md-3">
							<h1>Classroom tips</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>

							<button>View all</button>
						</div>
			
						
							<div class="card col-md-3" ng-repeat="card in tips">
								<div class="bg-image"><img src="" alt="">
								<h2>{{card.title}}</h2></div>
								<div class="ratings-wrapper"><span class="ratings">Ratings</span>
									<span class="rating star">
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="hollow star"></i>
										<i class="hollow star"></i>
			
									</span>
								</div>
								<p>{{card.summary}}</p>
								<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
							</div>
						
						
					</div>
				</div>
			</section> -->
		
		<!-- list of courses -->
		<!-- <section class="section-list section-method clearfix container-fluid">
			<div class="container">
				<div class="row">
					<div class="intro col-md-3">
						<h1>Courses</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>
						<button>View all</button>
					</div>
					<div class="card col-md-3" ng-repeat="card in examples">
								<div class="bg-image"><img src="" alt="">
								<h2>{{card.title}}</h2></div>
								<div class="ratings-wrapper"><span class="ratings">Ratings</span>
									<span class="rating star">
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="hollow star"></i>
										<i class="hollow star"></i>
			
									</span>
								</div>
								<p>{{card.summary}}</p>
								<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
						</div>
				</div>
			</div>
			
		</section> -->
		
		<!-- <card-on-homepage title="Methods" category="method_card" categoryurl="method-cards-homepage"></card-on-homepage>
		<card-on-homepage title="Classroom Tips" category="class_tip" categoryurl="class-tips-homepage"></card-on-homepage>
		<card-on-homepage title="Course" category="course_example" categoryurl="course-examples-homepage"></card-on-homepage> -->


	</div>