<div class="collection-wrapper section-list container">
	<!-- should judge if exist -->
	<div class="clearfix">
		<div class="card col-md-3" ng-repeat="card in cards">
				<div class="bg-image">
					<img ng-src="{{card.imgSrc}}" alt="">
					<div class="title"><h2>{{card.title}}</h2>
					</div>
				</div>
				
				<p>{{card.summary}}</p>
				<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
		</div>
	</div>
	<!-- take into account the url will change when hosted online, remember to modify it -->
	</br>
	<form name="zips" action="/php/action.php" method="post">
		<input ng-repeat="card in cards" type="checkbox" name="files[]" value="{{card.fileURL}}"/>
		<!-- <input type="submit" id="submit" name="createzip" value="Download All Seleted Files" > -->
		<button type="submit" id="submit" name="createzip" value="Download All Seleted Files">Download All Seleted Files</button>
	</form>



	<!-- <form name="zips" action="php/action.php" method="post">
<input type="checkbox" name="files[]" value="SampleFile.pdf"/><label>PDF File</label><br />
<input type="checkbox" name="files[]" value="SampleFile.docx"/><label>Word File</label><br />
<input type="checkbox" name="files[]" value="HTML5.png"/><label>Image File</label><br />
<input type="submit" id="submit" name="createzip" value="Download All Seleted Files" >
	
</div> -->