	<div>	
		<section class="head-slide container-fluid">
			<div class="container">
				<div class="row">

					<div class="col-md-5">
						<h1>THE STUFF PROJECT</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius.</p>
					</div>
				</div>
			</div>


		</section>
		
		

		<!-- list of lessons -->
		<!-- <section class="section-list section-lessons clearfix container-fluid">
			<div class="container">
				<div class="row">
					<div class="intro col-md-3">
						<h1>Methods</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>
						<button>View all</button>
					</div>
					<div class="card intro col-md-3" ng-repeat="card in methods">
						<div class="bg-image">
							<img ng-src="{{card.card_image.src}}" alt="">
							<div class="title"><h2>{{card.title}}<span class="label-video">VIDEO</span></h2>
							</div>
						</div>
						<div>
							
							<span class="ratings">Ratings</span>
							<span class="rating star">
								<i class="solid star"></i>
								<i class="solid star"></i>
								<i class="solid star"></i>
								<i class="hollow star"></i>
								<i class="hollow star"></i>	
							</span>
						</div>
						<p>{{card.summary}}</p>
						<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
			 -->
		</section>

		<!-- list of methods -->
		<!-- <section class="section-list section-method clearfix container-fluid">
			<div class="container">
				<div class="row">
						<div class="intro col-md-3">
							<h1>Classroom tips</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>

							<button>View all</button>
						</div>
			
						
							<div class="card col-md-3" ng-repeat="card in tips">
								<div class="bg-image"><img src="" alt="">
								<h2>{{card.title}}</h2></div>
								<div class="ratings-wrapper"><span class="ratings">Ratings</span>
									<span class="rating star">
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="hollow star"></i>
										<i class="hollow star"></i>
			
									</span>
								</div>
								<p>{{card.summary}}</p>
								<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
							</div>
						
						
					</div>
				</div>
			</section> -->
		
		<!-- list of courses -->
		<!-- <section class="section-list section-method clearfix container-fluid">
			<div class="container">
				<div class="row">
					<div class="intro col-md-3">
						<h1>Courses</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum nisl venenatis viverra varius. Quisque commodo eget justo non facilisis. Curabitur commodo, ligula ac bibendum convallis, turpis mi ultricies urna, ac suscipit elit dui ac nisl. Proin ultricies sagittis sagittis. Pellentesque arcu massa, ullamcorper nec maximus et, feugiat a massa.</p>
						<button>View all</button>
					</div>
					<div class="card col-md-3" ng-repeat="card in examples">
								<div class="bg-image"><img src="" alt="">
								<h2>{{card.title}}</h2></div>
								<div class="ratings-wrapper"><span class="ratings">Ratings</span>
									<span class="rating star">
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="solid star"></i>
										<i class="hollow star"></i>
										<i class="hollow star"></i>
			
									</span>
								</div>
								<p>{{card.summary}}</p>
								<a href="#!method_card/{{card.nid}}">Read more &gt; <i class="icon-right-arrow"></i></a>
						</div>
				</div>
			</div>
			
		</section> -->
		
		<card-on-homepage title="Methods" category="method_card" categoryurl="method-cards-homepage"></card-on-homepage>
		<card-on-homepage title="Classroom Tips" category="classroom_tip" categoryurl="class-tips-homepage"></card-on-homepage>
		<card-on-homepage title="Course" category="course" categoryurl="course-examples-homepage"></card-on-homepage>


	</div>