	<div>	
		<section class="head-slide"></section>
		
		<!-- list of methods -->
		<section class="section-list section-method clearfix">
			<h1>Methods</h1>

			<div class="card" ng-repeat="card in cards">
				<div class="bg-image"><img src="" alt="">
				<h2>{{card.title}}</h2></div>
				<div class="ratings-wrapper"><span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>

					</span>
				</div>
				<p>{{card.summary}}</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div>
			<!-- <div class="card">
				<div class="bg-image"><img src="" alt="">
				<h2>Finding design challenges</h2></div>
				<div><span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>
					</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at commodo ante</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div>
			<div class="card">
				<div class="bg-image"><img src="" alt="">
				<h2>Guideline on critiquing</h2></div>
				<div><span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>
					</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at commodo ante</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div> -->
		</section>

		<!-- list of lessons -->
		<section class="section-list section-lessons clearfix">
			<h1>Lessons</h1>
			<div class="card">
				<div class="bg-image">
					<img src="images/Brainstorming.jpg" alt="">
					<div class="title"><h2>Brainstorming</h2><span class="label-video">VIDEO</span>
					</div>
				</div>
				<div>
					
					<span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>	
					</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at commodo ante</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div>
			<div class="card">
				<div class="bg-image">
					<img src="images/Synthesis.jpg" alt="">
					<div class="title">
						<h2>Synthesis</h2><span class="label-video">VIDEO</span>
					</div>
				</div>
				<div>
					
					<span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>	
					</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at commodo ante</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div>
			<div class="card">
				<div class="bg-image">
					<img src="images/Interviewing.jpg" alt="">
					<div class="title"><h2>Interviewing</h2><span class="label-video">VIDEO</span>
					</div>
				<div>
					
					<span class="ratings">Ratings</span>
					<span class="rating star">
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="solid star"></i>
						<i class="hollow star"></i>
						<i class="hollow star"></i>	
					</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at commodo ante</p>
				<a href="">Read more &gt; <i class="icon-right-arrow"></i></a>
			</div>
		</section>

	</div>